<section id="main-slider" class="no-margin" style="padding-top:0px;">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <marquee style="color:red;">DD for conference regisration can be uploaded till 24th April, 2016.</marquee>
      </div>
      <div class="col-md-2">
        <a class="popup-with-zoom-anim btn btn-warning" href="#small-dialog" style="color:white;">Journal Details</a>
      </div>
      <div class="col-md-2">
        <%= link_to "Download Brochure", brochure_path,class: "btn btn-warning", style: "color:white;" %>
      </div>
    </div>
  </div>
    <!-- link that opens popup -->

      <!-- form itself -->
      <div id="small-dialog" class="zoom-anim-dialog mfp-hide">
        <h3 class="center">Journal Details</h3>
        <table class="table table-striped table-bordered">
          <tr>
            <th>S.No.</th>
            <th>Journal Name</th>
            <th>Amount</th>
          </tr>
          <tr>
            <td>1</td>
            <td>Journal of Computational and Theoretical Nanoscience( updated list, 1546-1955)</td>
            <td>--</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Middle-East Journal of Scientific Research (Annexure II, 1990-9233)</td>
            <td>Rs. 4500</td>
          </tr>
          <tr>
            <td>3</td>
            <td>World Applied Sciences Journal (Annexure II, 1818-4952)</td>
            <td>Rs. 4500</td>
          </tr>
          <tr>
            <td>4</td>
            <td>International Journal of Advanced Research in Biology, Engineering, Science and Technology(2395-695X)</td>
            <td>Rs. 350</td>
          </tr>
        </table>
      </div>
        <div class="carousel slide wet-asphalt">
            <ol class="carousel-indicators">
                <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                <li data-target="#main-slider" data-slide-to="1"></li>
                <li data-target="#main-slider" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active" style="background-image: url(<%= image_path('slider/1.jpg') %>)">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <!-- <div class="carousel-content centered center">
                                    <h2 class="boxed animation animated-item-1" style="font-size:30px;color:#D8DBDA; font-weight: bold;">International Conference on Recent Trends in Engineering & Technology</h2><br>
                                    <h2 class="boxed animation animated-item-1" style="font-size:15px;color:#D8DBDA;  font-weight: bold;">Organised by,</h2><br>
                                    <p class="boxed animation animated-item-2" style="font-size:35px;color:#D8DBDA;  font-weight: bold;">St. Joseph's Institute of Technology.</p>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
                <div class="item" style="background-image: url(<%= image_path('slider/14.jpg') %>)">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="carousel-content center centered">
                                    <h2 class="boxed animation animated-item-1">Clean, Crisp, Powerful and Responsive Web Design</h2>
                                    <p class="boxed animation animated-item-2">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                                    <br>
                                    <a class="btn btn-md animation animated-item-3" href="#">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
                <div class="item" style="background-image: url(images/slider/bg3.jpg)">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content centered">
                                    <h2 class="animation animated-item-1">Powerful and Responsive Web Design Theme</h2>
                                    <p class="animation animated-item-2">Pellentesque habitant morbi tristique senectus et netus et malesuada fames</p>
                                    <a class="btn btn-md animation animated-item-3" href="#">Learn More</a>
                                </div>
                            </div>
                        </div>``
                    </div>
                </div><!--/.item-->
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
        <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
            <i class="icon-angle-left"></i>
        </a>
        <a class="next hidden-xs" href="#main-slider" data-slide="next">
            <i class="icon-angle-right"></i>
        </a>
</section><!--/#main-slider-->

<section id="about-us" class="emerald">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center">About The College<h2>
        <p class="text-justify" style="font-size:15px">
          St.Joseph’s Institute of  Technology, a St.Joseph’s group of Institutions  started  in  the  year  2011.It is a  Christian  Minority  Institution   with   six  streams  viz CSE,  EEE, ECE,   IT , MECH & CIVIL.
          The college has best infrastructure spread across 4 lakhs sq.ft with well equipped laboratories, workshops   and   classrooms.
          A    state   of    the   art   infrastructure   including  auditorium, mess  halls, administrative  block   covering  an area of  10 lakhs sq.ft.  is upcoming.
					Our  college  as  one  of  the  leading  engineering colleges,  focuses  on  inculcating   not  only   knowledge but  also   good   ethics   to   the  budding  engineers   of  future    India.
          This   proves   to be the uniqueness   of St. Joseph’s Institute of Technology.
        </p>
        <h2 class="text-center">Conference Theme<h2>
        <p class="text-justify" style="font-size:15px">First International Conference on “Recent Trends in Engineering and
          First International Conference on Recent Trends in Engineering and Technology is being
          organized by the various departments of St. Joseph’s Institute of Technology. The primary
          goal of the conference is to promote research and developmental activities in the recent trends
          in engineering and technology. It also helps to unite the great minds who believe in the need,
          for a technologically literate society. This conference on the recent trends in engineering and
          technology promises enormous potential to stimulate educational opportunities to the
          researchers, academicians and post graduate students. It is a powerful tool for the educators to
          interact with their peers, share knowledge and ideas. It also offers innovative technical
          resources to support professional learning for educators and education leaders. The one day
          conference comprises of keynote speeches and paper presentations in different sessions. It
          also provides the participants with the prospect of getting acquainted with the Recent Trends
          in Engineering and Technology, which helps in updating their knowledge thereby upgrading
          their organization and the overall Computer Society.
        </p>

      </div>
    </div>
  </div>
</section>
<section id="tiles">
  <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h3>In Association with</h3>
                    <!-- <div class="btn-group">
                        <a class="btn btn-danger" href="#scroller" data-slide="prev"><%= fa_icon "angle-left" %></a>
                        <a class="btn btn-danger" href="#scroller" data-slide="next"><%= fa_icon "angle-right" %></a>
                    </div> -->
                    <p class="gap"></p>
                </div>
                <div class="col-md-9">
                    <div id="scroller" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                                <%= link_to image_tag("csi.png",alt: "CSI"), "http://www.csi-india.org" %><br><br><br>
                                                <h5>
                                                    Computer Society Of India
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                                <%= link_to image_tag("ieee.jpg",alt: "IEEE"), "http://ieee.org/"%>
                                                <h5>
                                                    Institute of Electrical and Electronics Engineers
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                                <%= link_to image_tag("IETElogo.jpg",alt: "IETE"), "http://iete.org/"%><br><br><br>
                                                <h5>
                                                    Institute of Electrical and Electronics Engineers
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-xs-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                                <%= link_to image_tag("esn.png",alt: "ESN"), "http://esn.org/"%><br><br><br>
                                                <h5>
                                                    ESN Publications
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                  </div>
                                    <!-- <div class="col-xs-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner"><br><br><br><br><br>
                                                <%= link_to image_tag("https://scholarlyoa.files.wordpress.com/2014/03/rip-off.jpg",alt: "RIP") %><br><br><br><br>
                                                <h5>
                                                    Research India Publications
                                                </h5>
                                            </div>
                                        </div>
                                    </div> -->
                                </div><!--/.row-->
                            </div><!--/.item-->
                        </div>
                    </div>
                </div>
            </div><!--/.row-->
        </div>
    </section><!--/#recent-works-->
    <script>
    $(document).ready(function() {
	$('.popup-with-zoom-anim').magnificPopup({
		type: 'inline',

		fixedContentPos: false,
		fixedBgPos: true,

		overflowY: 'auto',

		closeBtnInside: true,
		preloader: false,

		midClick: true,
		removalDelay: 300,
		mainClass: 'my-mfp-zoom-in'
	});

	$('.popup-with-move-anim').magnificPopup({
		type: 'inline',

		fixedContentPos: false,
		fixedBgPos: true,

		overflowY: 'auto',

		closeBtnInside: true,
		preloader: false,

		midClick: true,
		removalDelay: 300,
		mainClass: 'my-mfp-slide-bottom'
	});
});
</script>
