<b>
  <div style="color:red">Kindly read the following instructions before Registering for the event.</div>
  <ol style="font-size:14px;">
    <li>DD for Conference Registration should be taken seperately in favour of "St.Joseph's Institute of Technology",payable at chennai.</li><br>
    <li>For annexure 2 and other journals the DD should be submitted with respective amounts as mentioned in favour of St.Joseph's Institute of Technology payable at Chennai(for annexure 1 the amount will be informed later based upon the selection of journal)</li><br>
    <li>Submit a single DD that sums the entire amount if there are multiple authors.</li><br>
  </ol>
</b>
<%= form_for(@payment_detail) do |f| %>
  <% if @payment_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment_detail.errors.count, "error") %> prohibited this payment_detail from being saved:</h2>

      <ul>
      <% @payment_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <b>No. of Participants:-</b><br>
  <div class="field row">
    <%= f.label :staff,"Faculty/\nDelegates/\nResearch Scholars" , class: 'col-md-4'%>
    <%= f.text_field :staff,class: "form-control col-md-2", id: 'staffs', onchange: 'updateStaff();' %><div class="col-md-4"> X 1500 = </div><div id="sta" clas="col-md-2">Rs.0</div>
  </div>
  <div class="field row">
    <%= f.label :students,"Students", class: 'col-md-4' %>
    <%= f.text_field :students,class: "form-control col-md-2", id: 'students', onchange: 'updateStud();', width: "20" %><div class="col-md-4">X 1000 =</div><div id="stud" class="col-md-2">Rs.0</div>
  </div>
  <p>Total Amount to be Paid:<div id="total">Rs. 0</div></p>
  <p><b>Note:</b>Submit a single DD that sums the entire amount if there are multiple authors.  </p>
  <div class="field">
    <%= f.label :dd_number,"DD Number" %><br>
    <%= f.text_field :dd_number,class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :bank,"Bank Name" %><br>
    <%= f.text_field :bank,class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :branch %><br>
    <%= f.text_field :branch,class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :dd_copy,"DD Copy" %> <font style="color:red">*</font><br>
    <%= f.file_field :dd_copy,class: "form-control" %>
  </div></div></div>
  <div class="center">
  <div class="field">
    <%= f.check_box :accept %>
    <%= f.label :accept, "I hereby accept to attend the event on the mentioned date."%>
  </div>
  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-success"%>
  </div>
  <font style="color:red">*</font>  scan copy should be less than 1mb
</div>
<% end %>
