<html>
<head>

  <title>ICRTET2016</title>
  <meta charset='utf-8' />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
</head>
<body>
<div class="container">
<table>
<td><%= wicked_pdf_image_tag "sjit.png" %></td>
<td>
  <center>
    <h2 >International Conference on Recent Trends in Engineering and Technology</h2>
    <h4>Organized by</h4>
    <h2>St.Joseph's Institute of Technology</h2><br><br>
    <h3>Conference Ticket</h3>
  </center>
</td>
<td><%= wicked_pdf_image_tag "icrtet.png" %></td>
</table>
<div class="col-md-12">
    <b>User ID</b>  :  <%= current_user.payment_detail.user_number%><br>
    <b>First Name</b>  :  <%= current_user.first_name%><br>
    <b>Last Name</b>   :  <%= current_user.last_name%><br>
    <b>Email id</b>    :  <%= current_user.email%><br>
    <b>DD Number</b>   :  <%= current_user.payment_detail.dd_number%><br>
    <b>Bank Name</b>   :  <%= current_user.payment_detail.bank%><br>
    <b>Amount</b>      :  <%= current_user.payment_detail.amount %><br>
<br><b>Bring a copy of this while coming to the conference.</b><br>
<h4>
  NOTE: </h4>
<ul>
<li>If there are multiple authors for a paper, please register individually in order to get separate certificate for each of the authors.</li>
<li>Bring Original DD for the specified amount.</li>
<li>Bring Original College ID card or Bonafide certificate to be eligible for student concession.</li>
<li>Formal Dress code must be followed.</li>

</ul>


</div>
</div>
</body>
</html>
