<div class = "container">
	<h1>Add Paper Version 2</h1>
	<div class="col-md-4"></div>
	<div class="col-md-4 text-center">
		<%= form_for(@paper) do |f| %>
			<div class="field">
		    	<%= f.label :paper_version2 %><br>
		    	<%= f.file_field :paper_version2, class:"form-control" %>
			</div>
			<div class="actions">
		    	<%= f.submit "Add Paper",class: "btn btn-success" %>
			</div>
		<% end %>
		<%= link_to 'Back', papers_path %>
	</div>
</div>
