<!DOCTYPE html>
<html>
<head>
  <title>Ncrtet2016</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar navbar-inverse navbar-fixed-top wet-asphalt" role="banner">
          <div class="container">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <span style="font-size:30px;"><%= link_to "NCRTET",home_path, class: "navbar-brand" %></span>
              </div>
              <div class="collapse navbar-collapse">
                  <ul class="nav navbar-nav navbar-right">
                      <li class=<%if controller.action_name == "home" %>"active" <%end%> ><%= link_to "Home",home_path %></li>
                      <li class=<%if controller.action_name == "call_for_papers" %>"active" <%end%> ><%= link_to "Info Log", call_for_papers_path %></li>
                      <li class=<%if controller.action_name == "important_dates" %>"active" <%end%> ><%= link_to "Important Dates", important_dates_path %></li>
                      <li class=<%if controller.action_name == "commitee" %>"active" <%end%> ><%= link_to "Committee", commitee_path %></li>
                      <li class=<%if controller.action_name == "venue_and_contact" %>"active" <%end%> ><%= link_to "Venue and Contact", venue_and_contact_path %></li>
                      <li class=<%if controller.action_name == "new" %>"active" <%end%> ><%= link_to "Sign In", new_user_session_path %></li>
                  </ul>
              </div>
          </div><br>
      </header>
 <%= yield %>
<footer id="footer" class="midnight-blue">
      <div class="container">
          <div class="row">
              <div class="col-sm-6">
                  &copy; 2016 <a target="_blank" href="http://stjosephstechnology.ac.in/" title="St. Joseph's Institute of Technology">St. Joseph's Institute of Technology</a>. All Rights Reserved.
              </div>
          </div>
      </div>
  </footer>
</body>
</html>
