<!DOCTYPE html>
<html>
<head>

  <title>ICRTET2016</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
<link href='https://fonts.googleapis.com/css?family=Josefin+Slab:700italic' rel='stylesheet' type='text/css'>
</head>
<body style="padding-top:0px;">
<% if params[:action] != "pdf" %>
  <div class="wet-asphalt">
    <div class="container">
      <div class="col-md-2">
        <%= image_tag "sjit.png" %>
      </div>
      <div class="col-md-8">
  			<h1 class="center"  style="font-family: 'Josefin Slab', serif;font-size:41px;"> St. Joseph's Institute of Technology</h2> </p>
  			<h2 class="center"  style="font-family: 'Josefin Slab', serif;">I<sup></sup> International Conference on Recent Trends in Engineering and Technology </h3>
      </div>
      <div class="col-md-2">
        <%= image_tag "icrtet.png" %>
      </div>

    </div>
  </div>
  <header class="navbar navbar-inverse wet-asphalt" role="banner" style="background-color:#34495E;border-color:#34495E;">
            <div class="container">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <span class ="hidden" id="navHeader" style="font-size:30px;"><%= link_to "ICRTET",home_path, class: "navbar-brand" %></span>
              </div>
              <div class="collapse navbar-collapse">
                  <ul class="nav navbar-nav navbar-right">
                      <li class=<%if controller.action_name == "home" %>"active" <%end%> ><%= link_to "Home",home_path %></li>
                      <li class=<%if controller.action_name == "call_for_papers" %>"active" <%end%> ><%= link_to "Info Log", call_for_papers_path %></li>
                      <li class=<%if controller.action_name == "important_dates" %>"active" <%end%> ><%= link_to "Important Dates", important_dates_path %></li>
                      <li class=<%if controller.action_name == "commitee" %>"active" <%end%> ><%= link_to "Committee", commitee_path %></li>
                      <li class=<%if controller.action_name == "venue_and_contact" %>"active" <%end%> ><%= link_to "Venue and Contact", venue_and_contact_path %></li>
                       <% if !user_signed_in? %>
                        <li class=<%if controller.action_name == "new" %>"active" <%end%> ><%= link_to "Sign In / Register", new_user_session_path %></li>
                      <% else %>
	                	<li><%= link_to "Event Registration", payment_details_path %></li>
                        <li class=<%if controller.controller_name == "papers" %>"active" <%end%> ><%= link_to "Upload your paper", papers_path %></li>
                        <li><%= link_to "Log out", destroy_user_session_path, :method => :delete %></li>
                      <% end %>
                  </ul>
              </div>
          </div><br>
      </header>
      <%= render 'layouts/messages' %>
      <%end%>
 <%= yield %><% if params[:action] != "pdf" %>
<footer id="footer" class="midnight-blue">
      <div class="container">
          <div class="row">
              <div class="col-sm-6">
                  &copy; 2016 <a target="_blank" href="http://stjosephstechnology.ac.in/" title="St. Joseph's Institute of Technology">St. Joseph's Institute of Technology</a>. All Rights Reserved.
              </div>
          </div>
      </div>
  </footer><%end%>
</body>
</html>
